# Dependencias locales
node_modules

# Archivos generados por Next.js
.next
out

# Repositorio Git
.git
.gitignore

# Variables de entorno privadas
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Certificados privados
*.pem